@import url("https://fonts.googleapis.com/css?family=family=Fira+Code");

body {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 100px;
}
.sidebar {
  width: 25%;
  position: fixed;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  /* display: inline-block; */
  padding: 10px 25px;
}
.sidebar ul li:hover {
  color: blue;
}
.sidebar ul li a {
  text-decoration: none;
  color: white;
}
.sidebar ul li a:hover {
  text-decoration: none;
  color: blue;
}
.main {
  /* text-align: center; */
  left: 25%;
  position: absolute;
  width: 75%;
  line-height: 24px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}

.orange {
  color: orange;
}

.comment {
  color: #229977;
}

.experience {
  margin-top: 50px;
}
.experience h4 {
  color: orange;
  /* text-decoration: underline; */
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
}

.experience-main {
  width: 95%;
  margin-top: 25px;
}

.compsany {
  /* text-decoration: ud; */
}
.skills {
  margin-top: 50px;
}
.skills h4 {
  color: orange;
  /* text-decoration: underline; */
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
}

.box {
  border: 1px solid;
  padding: 5px 10px;
  margin: 5px;
}

.social {
  margin-top: 50px;
}
.social h4 {
  color: orange;
  /* text-decoration: underline; */
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
}

.link-img img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.resume a {
  color: blue;
  letter-spacing: 1px;
  text-decoration: none;
  margin-right: 20px;
}
.center {
  text-align: center;
}

.name {
  font-size: 20px;
}
.name:hover {
  color: red !important;
}
.title {
  font-size: 14px;
  color: white !important;
}

.education {
  margin-top: 50px;
}
.education h4 {
  color: orange;
  /* text-decoration: underline; */
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
}

.resume-pdf {
  color: red;
  border: 1px solid;
  padding: 5px 10px;
}

.resume-pdf:hover {
  color: white;
}
